.infopic{
  // background-image: asset-url('pool.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  text-align: left;
  // padding-top: 100px;
  // font-family: 'Karla', sans-serif;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.container {

flex-direction: column;
  align-items: center;
margin: 100px;
}


.tag_line {
  position: absolute;
  top: 200px;
  left: 100px;
 font-size: 100px;
 font-family: 'Karla', sans-serif;

}

.cost{
  position: absolute;
  bottom: 100px;
  left: 100px;
  font-size: 20px;
  // padding: 40px;
  // margin-top:340px;
  font-family: 'Karla', sans-serif;
}

.description {
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: #42f4e5;
  opacity: 0.5;
  border-radius:10px;
  margin: 50px;

  .instructions {
  flex-grow: 1;
  padding: 20px;
}

}
