.infopic{
  background-image: asset-url('pool.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  height: 800px;
  color: #ffffff;
  text-align: left;
  // padding-top: 100px;
  // font-family: 'Karla', sans-serif;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;
  position: relative;
}



.tag_line {
  position: absolute;
  top: 200px;
  left: 100px;
 font-size: 200px;
 font-family: 'Karla', sans-serif;

}

.description{
  position: absolute;
  bottom: 100px;
  left: 100px;
  font-size: 100px;
  // padding: 40px;
  // margin-top:340px;
  font-family: 'Karla', sans-serif;
}
