<!-- #show all bookings of one festival -->

<div class="banner-middle">
<div class="container">
<h2 class="text-center">These are all the festivals that you are attending:</h2>
  <div class="row">
    <% @bookings.each do |booking| %>
    <%= render 'bookings/booking', booking: booking %>

  <% end %>

</div>
</div>



