


<div class="banner-top">
  <div class="banner-content">
    <h1>Dopple Ganger</h1>
    <p>serving the split - rave and rejuvenate in one retreat</p>

  </div>
</div>
<div class="banner2">
  <div class="banner-content">
    <h1>Find My Festival</h1>
    <p>but don't disturb the fairys...sshhhh</p>

<%= link_to "see all festivals", festivals_path, class: "btn button" %>

  </div>
</div>
<div class="banner-bottom">
  <div class="banner-content">
    <h1>Reviews</h1>
    <p>but don't disturb the fairys while they sleep...sshhhh</p>


<%= link_to "see all reviews", reviews_path, class: "button" %>
  </div>
</div>

