


<div class="bannerhome1">

    <h1>When two weeks feels like sabbatical</h1>
    <p><%= link_to "Book", festivals_path, class: "button" %></p>


</div>


<div class="bannerhome2">

  <ul>

 <li>For young professionals to escape from the city</li>
 <li>Take two weeks to:</li>
<li>Turn your...</li>
 <li>Hamster wheel</li>
<li>...into a...</li>
<li>Carnival wheel!!!</li>

 <!-- <li>For 2 weeks </li> -->

 </ul>
</div>



<div class="bannerhome3">


       <h1>How it works</h1>

        <p>Week One: First let your hair down at your festival</p>
    <p>Week Two: Health retreat for your mind, body and soul</p>


</div>

<div class="bannerhome4">


<h1>Find my festival</h1>
<p>Takes you from business to Boho and back to you</p>
<%= link_to "see all festivals", festivals_path, class: "btn btn-info" %>

</div>
