<div class="banner-bottom">
<div class="container">
<h2 class="text-center">These are all the festivals that you are hosting.</h2>
  <div class="row">
    <% @festivals.each do |festival| %>
    <%= render 'festivals/host', festival: festival %>
  <% end %>
   <%= link_to "Add a festival", new_festival_path, class: "button" %>
</div>
</div>
