<div class="banner-bottom">
<div class="container">
<h2 class="text-center">These are all the festivals that you are hosting.</h2>
  <div class="row">
    <% @festivals.each do |festival| %>
    <%= render 'festivals/host', festival: festival %>

  <% end %>
</div>
</div>
