.banner-pier {
  background-image: asset-url('pierhorizon.jpg');
  color: white;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-pier h1 {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}
.banner-pier p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-bottom: 30px;
}
