.map {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  background-color: #42f4e5;
  opacity: 0.5;
  border-radius:10px;
  margin: 50px;

}



#map {
  width: 200px;
  height:200px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;


}

.instructions {
  flex-grow: 1;
  padding: 20px;
}

.address {
  flex-grow: 1;
}
