
<div class="banner2">
  <div class="banner2-content">
    <div class="container">
      <div class="row">
        <ul>
<% @reviews.each do |review|%>
<li> <%= review.content %> </li>
<li> <%= review.stars %> </li>
 </ul>
<% end %>
</div>
</div>
</div>
</div>
